body {
    width: 900px;
}

.holder {
    display: flex;
    flex: wrap;
    border: solid black 5px;
    height: 500px;
    border-radius: 10px 10px 0 0;
    flex-wrap: wrap;
}

.item {
    height: 245px;
    width: 350px;
}

.item:nth-child(1) {
    background-color: red;
    flex-grow: 10;
    border-radius: 5;
    border-radius: 10px 0 0 0;

}

.item:nth-child(2) {
    background-color: blue;
    order: 2;
    align-self: flex-end;
    flex-shrink: 100;
}

.item:nth-child(3) {
    background-color: purple;
    order: 2;
    align-self: flex-end;
    flex-shrink: 100;
}

.item:nth-child(4) {
    background-color: green;
    order: 3;
    align-self: flex-end;
    flex-shrink: 100;

}

.item:nth-child(5) {
    background-color: yellow;
    flex-grow: 10;
    border-radius: 0 10px 0 0;
}